._fw-100 {
    font-weight: 100;
}

._fw-200 {
    font-weight: 200;
}

._fw-300 {
    font-weight: 300;
}

._fw-400 {
    font-weight: 400;
}

._fw-500 {
    font-weight: 500;
}

._fw-600 {
    font-weight: 600;
}

._fw-700 {
    font-weight: 700;
}

._fw-800 {
    font-weight: 800;
}

._fw-900 {
    font-weight: 900;
}

._ta-r {
    text-align: right;
}

._ta-c {
    text-align: center;
}

._ta-j {
    text-align: justify;
}

._ttu {
    text-transform: uppercase;
}

._pa {
    @include p-full;
}

._pa-l {
    @include p-l;
}

._pa-r {
    @include p-r;
}

._pa-t {
    @include p-t;
}

._pa-b {
    @include p-b;
}

._pa-big-t {
    @include p-big-t;
}

._pa-big-b {
    @include p-big-b;
}

._ma {
    @include m-full;
}

._ma-l {
    @include m-l;
}

._ma-r {
    @include m-r;
}

._ma-t {
    @include m-t;
}

._ma-b {
    @include m-b;
}

._w-100 {
    width: 100%;
}

._p-relative {
    position: relative;
    z-index: 1;
}

._certificat-bg {
    position: relative;
    @include before {
        position: absolute;
        width: calc(((100% / 4) * 5) + #{$p * 1.5});
        height: 100%;
        background-color: $grayColor;
        top: 0;
        left: calc(((100% / 4) * -2) - #{$p * 2});
        z-index: 0;
    }
    &>* {
        position: relative;
        z-index: 1;
    }
    @include md {
        @include before {
            width: calc(150% + #{$p-m});
            left: calc(-50% + #{$p-m});
        }
    }
}

._al-l,
.align-left {
    float: left;
    @include m-r;
}

._al-r,
.align-right {
    float: right;
    @include m-l;
}