h1 {
    @include fz(48px, 52px);
}

h2 {
    @include fz(36px, 40px);
}

h3 {
    @include fz(30px, 34px);
}

h4 {
    @include fz(24px, 28px);
}

h5 {
    @include fz(18px, 22px);
}

h6 {
    @include fz(16px, 20px);
}

p {
    @include standard-text;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

strong {
    font-weight: 900;
}

ol,
ul,
li {
    list-style-type: none;
    list-style: none;
}

li {
    @include list-item;
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

ol {
    & li {}
}

ul {
    & li {
        position: relative;
        padding-left: 10px;
        @include after {
            position: absolute;
            width: 4px;
            height: 4px;
            top: calc(50% - 2px);
            left: 0;
            background-color: $accentColor;
        }
    }
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
}