h1 {
  @include fz(20px, 28px);
  margin-bottom: 20px;
  font-weight: 600;
}

h2 {
  @include fz(19px, 27px);
  margin-bottom: 17px;
  font-weight: 600;
}

h3 {
  @include fz(18px, 26px);
  margin-bottom: 14px;
  font-weight: 600;
}

h4 {
  @include fz(17px, 25px);
  margin-bottom: 11px;
  font-weight: 600;
}

h5 {
  @include fz(16px, 24px);
  margin-bottom: 8px;
  font-weight: 600;
}

h6 {
  @include fz(15px, 23px);
  margin-bottom: 5px;
  font-weight: 600;
}

p {
  @include standard-text;
  text-align: justify;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  & > span {
    color: $accentColor;
  }
}

strong {
  font-weight: 700;
}
ol,
ul {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
ol,
ul,
li {
  list-style-type: none;
  list-style: none;
}

li {
  @include list-item;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

ol {
  counter-reset: list;
  & > li {
    &:before {
      counter-increment: list;
      content: counter(list) ") ";
    }
  }
}

ul {
  & li {
    position: relative;
    padding-left: 10px;
    @include after {
      position: absolute;
      width: 4px;
      height: 4px;
      top: 8px;
      left: 0;
      background-color: $accentColor;
    }
  }
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  min-height: 80px;
}
