.b-row {
    @include flex-row;
    @include row;
    &:not(:last-child) {
        margin-bottom: 20px;
        @include md {
            margin-bottom: 15px;
        }
        @include xs {
            margin-bottom: 10px;
        }
    }
    position: relative;
}

.b-row_ai-center {
    align-items: center;
}

.b-row_jc-center {
    justify-content: center;
}

.b-row_p {
    @include p;
}

.b-row_p-l {
    @include p-l;
}

.b-row_p-r {
    @include p-r;
}

.b-row_flex-center {
    align-items: center;
    justify-content: center;
}

.b-row_flex-ai-center {
    align-items: center;
}

.b-row_flex-ai-start {
    align-items: flex-start;
}

.b-row_flex-ai-end {
    align-items: flex-end;
}

.b-row_flex-jc-center {
    justify-content: center;
}

.b-row_flex-jc-start {
    justify-content: flex-start;
}

.b-row_flex-jc-end {
    justify-content: flex-end;
}

.b-row_reverse {
    flex-direction: row-reverse;
}

.b-row_xl-reverse {
    @include xl {
        flex-direction: row-reverse;
    }
}

.b-row_laptop-reverse {
    @include laptop {
        flex-direction: row-reverse;
    }
}

.b-row_lg-reverse {
    @include lg {
        flex-direction: row-reverse;
    }
}

.b-row_md-reverse {
    @include md {
        flex-direction: row-reverse;
    }
}

.b-row_sm-reverse {
    @include sm {
        flex-direction: row-reverse;
    }
}

.b-row_xs-reverse {
    @include xs {
        flex-direction: row-reverse;
    }
}

.b-row_mobile-reverse {
    @include mobile {
        flex-direction: row-reverse;
    }
}

.b-row_non-reverse {
    flex-direction: row;
}

.b-row_xl-non-reverse {
    @include xl {
        flex-direction: row;
    }
}

.b-row_laptop-non-reverse {
    @include laptop {
        flex-direction: row;
    }
}

.b-row_lg-non-reverse {
    @include lg {
        flex-direction: row;
    }
}

.b-row_md-non-reverse {
    @include md {
        flex-direction: row;
    }
}

.b-row_sm-non-reverse {
    @include sm {
        flex-direction: row;
    }
}

.b-row_xs-non-reverse {
    @include xs {
        flex-direction: row;
    }
}

.b-row_mobile-non-reverse {
    @include mobile {
        flex-direction: row;
    }
}

.b-col {}

.b-col_p-full {
    @include p-full;
}

.b-col_p {
    @include p;
}

.b-col_p-l {
    @include p-l;
}

.b-col_p-r {
    @include p-r
}

.b-col_p-t {
    @include p-t;
}

.b-col_p-b {
    @include p-b
}

.b-col_6 {
    @include col(6);
}

.b-col_5 {
    @include col(5);
}

.b-col_4 {
    @include col(4);
}

.b-col_3 {
    @include col(3);
}

.b-col_2 {
    @include col(2);
}

.b-col_1 {
    @include col(1);
}

.b-col_0 {
    @media screen and (min-width: $br1600) {
        display: none;
    }
}

// 
// xl max-6
// 
.b-col_xl-6 {
    @include col-xl(6);
}

.b-col_xl-5 {
    @include col-xl(5);
}

.b-col_xl-4 {
    @include col-xl(4);
}

.b-col_xl-3 {
    @include col-xl(3);
}

.b-col_xl-2 {
    @include col-xl(2);
}

.b-col_xl-1 {
    @include col-xl(1);
}

.b-col_xl-0 {
    @media screen and (max-width: $br1600) and (min-width: $br1440) {
        display: none;
    }
}

// 
// laptop max-6
// 
.b-col_laptop-6 {
    @include col-laptop(6);
}

.b-col_laptop-5 {
    @include col-laptop(5);
}

.b-col_laptop-4 {
    @include col-laptop(4);
}

.b-col_laptop-3 {
    @include col-laptop(3);
}

.b-col_laptop-2 {
    @include col-laptop(2);
}

.b-col_laptop-1 {
    @include col-laptop(1);
}

.b-col_laptop-0 {
    @media screen and (max-width: $br1440) and (min-width: $br1170) {
        display: none;
    }
}

// 
// lg max-6
// 
.b-col_lg-6 {
    @include col-lg(6);
}

.b-col_lg-5 {
    @include col-lg(5);
}

.b-col_lg-4 {
    @include col-lg(4);
}

.b-col_lg-3 {
    @include col-lg(3);
}

.b-col_lg-2 {
    @include col-lg(2);
}

.b-col_lg-1 {
    @include col-lg(1);
}

.b-col_lg-0 {
    @media screen and (max-width: $br1170) and (min-width: $br960) {
        display: none;
    }
}

// 
// md - max-4
// 
.b-col_md-4 {
    @include col-md(4);
}

.b-col_md-3 {
    @include col-md(3);
}

.b-col_md-2 {
    @include col-md(2);
}

.b-col_md-1 {
    @include col-md(1);
}

.b-col_md-0 {
    @media screen and (max-width: $br960) and (min-width: $br780) {
        display: none;
    }
}

// 
// sm - max-4
// 
.b-col_sm-4 {
    @include col-sm(4);
}

.b-col_sm-3 {
    @include col-sm(3);
}

.b-col_sm-2 {
    @include col-sm(2);
}

.b-col_sm-1 {
    @include col-sm(1);
}

.b-col_sm-0 {
    @media screen and (max-width: $br780) and (min-width: $br560) {
        display: none;
    }
}

// 
// xs - max-2
// 
.b-col_xs-2 {
    @include col-xs(2);
}

.b-col_xs-1 {
    @include col-xs(1);
}

.b-col_xs-0 {
    @media screen and (max-width: $br560) and (min-width: $br440) {
        display: none;
    }
}

// 
// xs - max-2
// 
.b-col_mobile-2 {
    @include col-mobile(2);
}

.b-col_mobile-1 {
    @include col-mobile(1);
}

.b-col_mobile-0 {
    @include mobile {
        display: none;
    }
}

.b-col_flex-row {
    @include flex-row;
}

.b-col_flex-colm {
    @include flex-colm;
}

.b-col_flex-center {
    align-items: center;
    justify-content: center;
}

.b-col_flex-ai-center {
    align-items: center;
}

.b-col_flex-ai-start {
    align-items: flex-start;
}

.b-col_flex-ai-end {
    align-items: flex-end;
}

.b-col_flex-jc-center {
    justify-content: center;
}

.b-col_flex-jc-start {
    justify-content: flex-start;
}

.b-col_flex-jc-end {
    justify-content: flex-end;
}

.b-col_p-big {
    padding-top: 90px;
    padding-bottom: 90px;
    @include md {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include xs {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.b-col_sm-order-minus-1 {
    @include sm {
        order: -1;
    }
}

.b-col_md-order-minus-1 {
    @include md {
        order: -1;
    }
}

.b-col_relative {
    position: relative;
    z-index: 1;
}

.b-col_absolute {
    position: absolute;
    z-index: 1;
}

.b-col_bottom-right {
    bottom: 0;
    right: 0;
}

.b-col_top-right {
    top: 0;
    right: 0;
}

.b-col_bottom-left {
    bottom: 0;
    left: 0;
}

.b-col_top-left {
    top: 0;
    left: 0;
}

.b-col-inner {}

.b-col-inner_h-100 {
    height: 100%;
}

.b-col-inner_full {
    @include inner-full;
}

.b-col-inner_left {
    @include inner-left;
}

.b-col-inner_right {
    @include inner-right;
}

.b-img {
    max-width: 100%;
    @include xs {
        width: 100%;
        display: block;
    }
}