@@if (checked === true){
<!--  -->
<label class="b-checkbox @@classes">
    <input type="checkbox" checked class="b-checkbox__input">
    <div class="b-checkbox__rect"></div>
    <div class="b-checkbox__text">
        @@text
    </div>
</label>
<!--  -->
}
<!--  -->
@@if (checked === false){
<!--  -->
<label class="b-checkbox @@classes">
    <input type="checkbox"  class="b-checkbox__input">
    <div class="b-checkbox__rect"></div>
    <div class="b-checkbox__text">
        @@text
    </div>
</label>
<!--  -->
}