.wrapper {
    @include wrapper;
}

.b-row {
    @include flex-row;
    @include row;
}

.b-col {
    &_1 {
        @include col(1);
        @include col-md(1);
        @include col-xs(2);
    }
    &_2 {
        @include col(2);
        @include col-md(2);
        @include col-xs(1);
    }
    &_3 {
        @include col(3);
        @include col-md(2);
        @include col-xs(1);
    }
    &_4 {
        @include col(4);
        @include col-md(3);
        @include col-xs(2);
    }
    &_5 {
        @include col(5);
        @include col-md(3);
        @include col-xs(2);
    }
    &_6 {
        @include col(6);
        @include col-md(4);
        @include col-xs(2);
    }
    &_f {
        & .block {
            @include inner-full;
        }
    }
}

.block {
    width: 100%;
    height: 150px;
    background-color: #9f9f9f;
    height: 150px;
}