.b-c-slider {
    position: relative;
    z-index: 1;
    @include before {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        background-color: $lightColor;
        opacity: 0.8;
        z-index: 1;
        @include xs {
            width: calc(100% / 3);
        }
    }
    @include after {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        background-color: $lightColor;
        opacity: 0.8;
        z-index: 1;
        @include xs {
            width: calc(100% / 3);
        }
    }
}

.b-c-slider__list {}

.b-c-slider__arrow {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 98px;
    height: 125px;
    @include bg-grad(160deg);
    color: $lightColor;
    cursor: pointer;
    @include flex-row;
    @include flex-center;
    z-index: 2;
    @include fz(32px);
    @include laptop {
        width: 80px;
        height: 110px;
    }
    @include lg {
        width: 60px;
        height: 80px;
    }
    @include xs {
        width: 55px;
        height: 45px;
    }
}

.b-c-slider__arrow_prev {
    right: calc(75% + 50px);
    @include xs {
        right: calc((100% / 6) * 5);
        transform: translate3d(50%, -50%, 0);
    }
}

.b-c-slider__arrow_next {
    left: calc(75% + 50px);
    @include xs {
        transform: translate3d(-50%, -50%, 0);
        left: calc((100% / 6) * 5);
    }
}

.b-c-slider__item {
    position: relative;
    z-index: 1;
}

.b-c-slider__item-inner {
    padding-bottom: 149%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}