.b-card-grad-header {
    @include hover {
        & .b-card-grad-header__header {
            @include after {
                opacity: 0;
            }
        }
        & .b-title-m {
            color: $lightColor;
        }
    }
    & .b-title-m {
        transition: $t;
        position: relative;
        z-index: 1;
    }
}

.b-card-grad-header__inner {}

.b-card-grad-header__header {
    @include p-full;
    min-height: 100px;
    @include flex-row;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // 
    position: relative;
    @include after {
        transition: $t;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $grayColor;
    }
}

.b-card-grad-header__main {
    @include p-full;
}

.b-card-grad-header__footer {}

.b-card-grad-header__title-sm {
    margin-bottom: 20px;
}