.b-cta {
    @include row;
    position: relative;
    z-index: 1;
}

.b-cta__inner {}

.b-cta__row {
    @include flex-row;
}

.b-cta__col {
    width: 50%;
    padding: 20px;
    @include flex-colm;
    justify-content: center;
    @include sm {
        width: 100%;
        text-align: center;
    }
    &:first-child {
        border-left: 1px solid $accentColor;
        @include sm {
            border-right: 1px solid $accentColor;
        }
    }
}

.b-cta__col_grad {
    @include bg-grad(160deg);
}

.b-cta__col_gray {
    background: #f7f7fe;
}

.b-cta__title-sm {
    margin-bottom: 10px;
}