.b-solo-slider {}

.b-colo-slider__list {}

.b-solo-slider__item {
    width: 100%;
}

.b-solo-slider__item-image {
    padding-bottom: 63%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}