.b-arrows {
    @include flex-row;
    @include flex-center;
}

.b-arrows__arrow {
    width: 50%;
    @include flex-row;
    @include flex-center;
}

.b-arrow {
    cursor: pointer;
    @include fz(52px);
    color: $lightColor;
    height: 75px;
    @include bg-grad(160deg);
    transition: $t;
    &:not(.slick-disabled) {
        @include hover {
            opacity: 0.8;
        }
    }
    &.slick-disabled {
        opacity: 0.1;
        cursor: no-drop;
    }
    & span {
        transition: $t;
    }
    @include xs {
        height: 58px;
        @include fz(36px);
    }
}

.b-arrow_prew {
    &:not(.slick-disabled) {
        @include hover {
            & span {
                transform: translate3d(-5px, 0, 0);
            }
        }
    }
}

.b-arrow_next {
    &:not(.slick-disabled) {
        @include hover {
            & span {
                transform: translate3d(5px, 0, 0);
            }
        }
    }
}