.b-field-2 {
    border: 1px solid $accentColor;
    padding: 10px 20px;
    display: block;
    width: 100%;
    min-height: 52px;
    position: relative;
    & .select2-container--default .select2-selection--single {
        border: none;
        background-color: transparent;
    }
    & .select2-selection__rendered {
        @include title-xs;
        color: $darkColor;
        transition: $t;
    }
    & .select2-selection__placeholder {
        color: rgba($accentColor, 0.8) !important;
    }
    & .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0 !important;
    }
}

.b-field-2_disabled {
    opacity: 0.2;
    pointer-events: none;
}

.b-field-2_q {
    & .b-field-2__question {
        @include flex-row;
    }
    & .b-field-2__input {
        width: calc(100% - 20px - 10px);
    }
}

.b-field-2_has-error {
    border: 1px solid $redColor;
    & .b-field-2__error {
        display: block;
        background-color: $redColor;
    }
    & .b-field-2__label {
        color: $redColor;
    }
    &:after {
        color: $redColor !important;
    }
    & .b-field-2__question {
        color: $darkColor;
        border-color: $darkColor;
    }
}

.b-field-2_require {
    &:after {
        content: '*';
        position: absolute;
        top: 5px;
        right: 5px;
        color: $accentColor;
    }
}

.b-field-2__label {
    padding: 2px 5px;
    background-color: $grayColor;
    display: inline-block;
    @include fz(10px, 16px);
    color: $accentColor;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20px;
    transform: translate3d(-2px, -50%, 0);
    transition: $t;
}

.b-field-2__input {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: transparent;
    @include title-xs;
    color: $darkColor;
    transition: $t;
    height: 30px;
    &::placeholder {
        color: rgba($accentColor, 0.8);
    }
}

.b-field-2__question {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $accentColor;
    color: $accentColor;
    @include fz(14px);
    @include flex-center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    transition: $t;
    display: none;
}

.b-field-2__error {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px 20px;
    background-color: $accentColor;
    color: $lightColor;
    margin-bottom: -10px;
    margin-top: 10px;
    @include input-hint;
    display: none;
    transition: $t;
}