.b-label-link {
    display: inline-flex;
    flex-direction: column;
}

.b-labet-link_title-accent {
    & .b-label-link__title {
        opacity: 1;
        color: $accentColor;
    }
}

.b-label-link_dark {
    & .b-label-link__content {
        color: $darkColor;
    }
}

.b-label-link_light {
    & .b-label-link__content {
        color: $lightColor;
        @include line-light();
        &:before {
            background-image: none;
        }
    }
    & .b-label-link__title {
        color: $lightColor;
    }
}

.b-label-link_fw-600 {
    & .b-label-link__content {
        font-weight: 600;
    }
}

.b-label-link__title {
    @include p-l;
    opacity: 0.4;
    @include tizer();
    margin-bottom: 5px;
    color: $darkColor;
}

.b-label-link__content {
    display: inline-flex;
    @include text-xs();
    @include line-grad();
}