.b-logo {
    & img {
        display: block;
        max-width: 100%;
        &:nth-child(1) {
            @include lg {
                display: none;
            }
        }
        &:nth-child(2) {
            display: none;
            @include lg {
                display: block;
            }
        }
    }
    @include laptop {
        max-width: 180px;
    }
    @include lg {
        max-width: 50px;
    }
    @include to(610px) {
        max-width: 40px;
    }
}