.b-multilang {
    position: relative;
    user-select: none;
    @include hover {
        & .b-multilang__list {
            opacity: 1;
            pointer-events: fill;
        }
        & .b-multilang__current {
            & span {
                transform: rotate(180deg);
                ;
            }
        }
    }
}

.b-multilang__current {
    border: 1px solid $lightColor;
    cursor: pointer;
    padding: 12px 15px;
    text-transform: uppercase;
    @include fz(14px, 17px);
    font-weight: 500;
    color: $lightColor;
    @include flex-row;
    @include flex-center;
    & span {
        transition: $t;
        @include fz(20px);
        display: block;
        margin-left: 3px;
    }
    @include xl {
        @include fz(12px, 17px);
    }
    @include to(610px) {
        @include fz(10px, 17px);
    }
    @include md {
        padding: 4px;
        border: none;
    }
}

.b-multilang__list {
    border: 1px solid $lightColor;
    transform: translate3d(0, -1px, 0);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    // 
    transition: $t;
    opacity: 0;
    pointer-events: none;
}

.b-multilang__item {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 12px 15px;
    text-transform: uppercase;
    @include button-text;
    color: $lightColor;
    text-align: center;
    &:not(:last-child) {
        // @include after {
        //     position: absolute;
        //     width: 60%;
        //     height: 1px;
        //     background-color: $lightColor;
        //     top: 100%;
        //     left: 20%;
        // }
        border-bottom: 1px solid $lightColor;
    }
    @include bg-grad(160deg);
    @include xl {
        @include fz(12px, 17px);
    }
    @include md {
        padding: 4px;
    }
    @include to(610px) {
        @include fz(10px, 17px);
    }
}